### byte-compiled ###
__pycache__/
*.py[cod]
*$py.class


### c extensions ###
*.so


### distribution / packaging ###
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg


### environment variables ###
.env


### virtual environments ###
.venv
venv/
venv.bak/


### osx finder indexer ###
**/.DS_Store


### mypy ###
.mypy_cache/
.dmypy.json
dmypy.json


### pdoc ###
docs/


### pyenv / uv ###
.python-version


### ruff ###
.ruff_cache


### workspace settings ###
.idea
.ignore
.vscode
